<footer class="footer jarallax bg-cover" style="background-image: url('assets/images/footer-bg.jpg');">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="widget-title text-uppercase text-white">Get In Touch</h3>
                    <p>Sign up for our newsletter & stay up-to-date with the latest</p>
                    <ul class="mt-4">
                        <li class="d-flex align-items-center">
                            <span><i class="feather-icon icon-phone-call"></i></span>
                            <a href="tel:00024862092">+000 245 (862) 092</a>
                        </li>
                        <li class="d-flex align-items-center">
                            <span><i class="feather-icon icon-mail"></i></span>
                            <a
                                href="https://html.theme-village.com/cdn-cgi/l/email-protection#671412171708151327000a060e0b4904080a"><span
                                    class="__cf_email__"
                                    data-cfemail="b3c0c6c3c3dcc1c7f3d4ded2dadf9dd0dcde">[email&#160;protected]</span></a>
                        </li>
                        <li class="d-flex align-items-center">
                            <span><i class="feather-icon icon-map-pin"></i></span>
                            55 Green Street, New York
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-sm-6">
                <div class="footer-widget">
                    <h3 class="widget-title text-uppercase text-white">About</h3>
                    <ul>
                        <li><a href="#">Track Order</a></li>
                        <li><a href="#">Shipping info</a></li>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Contact us</a></li>
                        <li><a href="#">Careers</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="widget-title text-uppercase text-white">Help Center</h3>
                    <ul>
                        <li><a href="#">Shopping FAQs</a></li>
                        <li><a href="#">Delivery Information</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Sales Information</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="footer-widget">
                    <h3 class="widget-title text-uppercase text-white">Subscribe Newsletter</h3>
                    <p>Sign up for our newsletter & stay up-to-date with the latest collection the latest trends &
                        the
                        best deals!</p>
                    <form action="#" class="subs-form">
                        <div class="position-relative">
                            <i class="feather-icon icon-mail"></i>
                            <input class="form-control rounded-0" type="email"
                                placeholder="Enter your email address">
                        </div>
                        <button class="btn btn-sm btn-primary w-100 rounded-0 mt-3">Subscribe Newsletter</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row pt-5 my-0 mt-5">
            <div class="col-lg-12 pt-4 copy-right">
                <p class="m-0 text-center">Copyright ©2024 FlexField. All Rights Reserved. Design By
                    FlexField team
                </p>
            </div>
        </div>
    </div>
</footer>